@import "@scss/settings/spaces.scss";


/* flex */
.flex,
.is-flex {
  display: flex;
}

/* row */
.row {
  @extend .flex;
  flex-wrap: wrap;
}

/* justify-content */
.right {
  justify-content: flex-end;
}

.between,
.space-between,
.columns-between {
  justify-content: space-between;
}


.x-center {
  justify-content: center;
}

.around {
  justify-content: space-around;
}

/* align-items */
.y-center,
.is-y-centered {
  align-items: center;
}

.y-bottom,
.columns-bottom {
  align-items: end;
}




.x-y-center {
  @extend .flex, .x-center, .y-center;
}

.flex-y-center {
  @extend .flex, .y-center;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.flex-center {
  @extend .flex, .x-y-center;
}

.flex-column-center {
  @extend .flex-column, .x-y-center;
}

/* Gaps (row-gap and column-gap) */
.gap-xs {
  gap: 0 $xs;
}

.gap-sm,
.has-small-gap {
  gap: 0 $small;
}